.host {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 500px;
}
.card-wrapper {
  display: grid;
  grid-template-rows: 75px 50px 50px 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  color: white;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}

.card-wrapper:hover {
  transform: translate(-10px, -10px);
  box-shadow: 15px 20px 10px 0px rgba(0, 0, 0, 75%);

  transition: all 0.5s;
}

.card-value {
  font-size: 90px;
}

.card-label {
  font-size: 45px;
  padding: 0px 15px;
  text-align: center;
}

.card-index {
  font-size: 20px;
}

.card-components-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.card-component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.component-label {
  font-size: 32px;
  font-weight: 300;
  color: slategrey;
}
.component-value {
  font-size: 50px;
}

.date-label {
  font-size: 18px;
  color: slategrey;
}
.air-quality-label {
  color: slategrey;
}
