<mat-form-field appearance="fill" class="mat-field" [style.width]="width">
  <mat-label class="input-label">{{ label }}</mat-label>
  <mat-chip-grid #chipGrid>
    <mat-chip-row
      *ngFor="let card of control.value; let i = index"
      (removed)="remove(card)"
    >
      {{ card.label }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input
      [formControl]="inputControl"
      matInput
      [matAutocomplete]="auto"
      [placeholder]="placeholder"
      class="number-inputs"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="clearInputView($event)"
    />
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option
      *ngFor="let card of filteredOptions$ | async"
      [value]="card"
      class="mat-option"
    >
      {{ card.label }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
