:host {
  display: block;
  height: 100%;
  width: 100%;
  ::ng-deep {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: rgba(0, 0, 0, 0);
    }
    .mat-mdc-form-field-focus-overlay {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.mat-option {
  font-size: 20px;
  font-family: "Merriweather";
  text-shadow: initial;
}
