<div class="calendar-dialog-wrapper">
  <div class="calendar-dialog-temp">
    <div class="calendar-dialog-temp-label">
      {{ data.dt_txt | date : "dd.MM HH:mm" }}
    </div>
    <img [src]="data.weather[0].icon" class="calendar-dialog-icon" />
    <div class="calendar-dialog-temp-block">
      <span>{{ data?.temp?.day | number : "1.0-0" }}</span>
      <span class="calendar-dialog-temp-night"
        >/{{ data?.temp?.night | number : "1.0-0" }}°C</span
      >
    </div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">
      {{ "main.monthlyForecast.dialog.windSpeed" | translate }}
    </div>
    <div class="calendar-dialog-info-block">{{ data.speed }}m/s</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">
      {{ "main.monthlyForecast.dialog.pressure" | translate }}
    </div>
    <div class="calendar-dialog-info-block">{{ data.pressure }}hPa</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">
      {{ "main.monthlyForecast.dialog.humidity" | translate }}
    </div>
    <div class="calendar-dialog-info-block">{{ data.humidity }}%</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">
      {{ "main.monthlyForecast.dialog.clouds" | translate }}
    </div>
    <div class="calendar-dialog-info-block">{{ data.clouds }}%</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">
      {{ "main.monthlyForecast.dialog.sunrise" | translate }}
    </div>
    <div class="calendar-dialog-info-block">
      {{ data.sunrise_txt | date : "HH:mm" }}
    </div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">
      {{ "main.monthlyForecast.dialog.sunset" | translate }}
    </div>
    <div class="calendar-dialog-info-block">
      {{ data.sunset_txt | date : "HH:mm" }}
    </div>
  </div>
</div>
