<div class="calendar-dialog-wrapper">
  <div class="calendar-dialog-temp">
    <div class="calendar-dialog-temp-label">
      {{ data.dt_txt | date : "dd.MM HH:mm" }}
    </div>
    <img [src]="data.weather[0].icon" class="calendar-dialog-icon" />
    <div class="calendar-dialog-temp-block">
      <span>{{ data?.temp?.day }}</span>
      <span class="calendar-dialog-temp-night">/{{ data?.temp?.night }}°C</span>
    </div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">Wind speed</div>
    <div class="calendar-dialog-info-block">{{ data.speed }}m/s</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">Pressure</div>
    <div class="calendar-dialog-info-block">{{ data.pressure }}hPa</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">Humidity</div>
    <div class="calendar-dialog-info-block">{{ data.humidity }}%</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">Clouds</div>
    <div class="calendar-dialog-info-block">{{ data.clouds }}%</div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">Sunrise</div>
    <div class="calendar-dialog-info-block">
      {{ data.sunrise_txt | date : "HH:mm" }}
    </div>
  </div>
  <div class="calendar-dialog-info">
    <div class="calendar-dialog-info-label">Sunset</div>
    <div class="calendar-dialog-info-block">
      {{ data.sunset_txt | date : "HH:mm" }}
    </div>
  </div>
</div>
