:host {
  display: block;
  height: 100%;
  width: 100%;
  ::ng-deep {
    .mat-form-field.mat-focused .mat-form-field-label {
      color: rgba(255, 255, 255, 1);
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 15px;
    }
    .mat-divider {
      border-top-color: #d4a373;
      opacity: 50%;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.side-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 100%;
  color: white;
}
