<div class="side-bar-wrapper">
  <app-autocomplete-input
    label="Get current weather by:"
    placeholder="Pick one"
    [formControl]="autocompleteControl"
    defaulfValue="coordinates"
    [options]="autocompleteOptions"
  ></app-autocomplete-input>

  <div>Location:</div>
  <mat-divider></mat-divider>
  <form [formGroup]="locationForm" class="form-wrapper">
    <app-input
      *ngIf="autocompleteControl.value === 'coordinates'"
      type="number"
      formControlName="latitude"
      [min]="-90"
      [max]="90"
      label="Latitude"
      placeholder="Enter a latitude"
      errorMessage="Please enter a valid data"
    ></app-input>

    <app-input
      *ngIf="autocompleteControl.value === 'coordinates'"
      formControlName="longitude"
      type="number"
      [min]="-180"
      [max]="180"
      label="Longitude"
      placeholder="Enter a longitude"
      errorMessage="Please enter a valid data"
    ></app-input>

    <app-input
      *ngIf="autocompleteControl.value === 'city'"
      formControlName="city"
      type="text"
      label="City"
      placeholder="Enter a city"
      errorMessage="Please enter a valid data"
    ></app-input>

    <app-input
      *ngIf="autocompleteControl.value === 'zip'"
      formControlName="zip"
      type="number"
      label="Zip code"
      placeholder="Enter a zip code"
      errorMessage="Please enter a valid data"
    ></app-input>
  </form>
</div>
