<div class="space-weather-wrapper">
  <div class="space-weather-small-block">
    <div>{{ "main.spaceWeather.distMeasure" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/dist-measure.jpg"
      />
    </div>
  </div>

  <div class="space-weather-small-block">
    <div>{{ "main.spaceWeather.dangLevel" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/dang-level.jpg"
      />
    </div>
  </div>

  <div class="space-weather-small-block">
    <div>{{ "main.spaceWeather.solarEff" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/solar-eff.jpg"
      />
    </div>
  </div>

  <div class="space-weather-small-block">
    <div>
      {{ "main.spaceWeather.spaceDist" | translate }}
    </div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/space-dist.jpg"
      />
    </div>
  </div>
  <div class="space-weather-block">
    <div>{{ "main.spaceWeather.kpIndex" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/kp-index.jpg"
      />
    </div>
  </div>

  <div class="space-weather-block">
    <div>{{ "main.spaceWeather.protonFlux" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/proton-flux.jpg"
      />
    </div>
  </div>

  <div class="space-weather-block">
    <div>{{ "main.spaceWeather.xrayFlow" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/x-ray-flow.jpg"
      />
    </div>
  </div>

  <div class="space-weather-block">
    <div>{{ "main.spaceWeather.particleFluxes" | translate }}</div>
    <div>
      <img
        class="space-weather-image"
        src="../../../../../assets/space-weather/particle-fluxes.jpg"
      />
    </div>
  </div>
</div>
