<div class="spinner-wrapper" *ngIf="spnrCount">
  <mat-progress-spinner
    [mode]="'indeterminate'"
    [diameter]="500"
    class="spinner"
  ></mat-progress-spinner>
</div>

<button mat-button class="material-translate-icon" (click)="changeLanguage()">
  <mat-icon>translate</mat-icon>
</button>
<div class="weather-wrapper">
  <app-side-bar class="side-bar"></app-side-bar>
  <div class="weather-content">
    <div class="weather-temp">
      <div class="main-temp-label">
        {{ dataTemp?.location }}
      </div>
      <img [src]="dataTemp?.icon" class="main-temp-icon" />
      <div *ngIf="dataTemp && dataTemp.temp" class="main-temp">
        {{ dataTemp?.temp | number : "1.0-0" }}°C
      </div>
    </div>
    <app-location class="location-component"></app-location>
    <app-forecast class="forecast-component"></app-forecast>
    <app-calendar class="calendar-component"></app-calendar>
    <app-search class="search-component"></app-search>
    <app-weather-info class="weather-component"></app-weather-info>
  </div>
</div>
