:host {
  display: block;
  height: 100%;
  width: 100%;
}

.search-component {
  background-color: rgba(0, 0, 0, 0.5);
}

.location-component {
  background-color: rgba(0, 0, 0, 0.5);
}

.weather-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 25px 60px 1fr;
  height: 100%;
  width: 100%;
}

.side-bar {
  grid-row: 1/4;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.weather-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding: 25px 35px;
}
