:host {
  display: block;
  height: 100%;
  width: 100%;
}

.weather-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 25px 60px 1fr;
  height: 100%;
  width: 100%;
}

.side-bar {
  grid-row: 1/4;
  height: 100%;
  background-color: #faedcd;
}

.weather-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding: 25px 35px;
}
