:host {
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep {
    .mat-form-field.mat-focused .mat-form-field-label {
      color: rgba(255, 255, 255, 1);
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 15px;
    }
    .mat-divider {
      border-top-color: rgba(112, 128, 144, 0.6);
      opacity: 50%;
      width: 100%;
      margin-bottom: 15px;
    }
    .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
      font-size: 24px;
    }
    .mat-mdc-form-field,
    .mat-mdc-floating-label {
      font-family: "Merriweather", sans-serif;
    }
    .mdc-floating-label {
      font-family: "Merriweather", sans-serif;
    }
    .mdc-text-field--filled .mdc-line-ripple::after {
      border-bottom-color: slategray;
    }
    .mdc-text-field--focused:not(.mdc-text-field--disabled)
      .mdc-floating-label {
      color: white;
    }
  }
}

.side-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 100%;
  color: white;
}
