<div class="side-bar-wrapper">
  <app-autocomplete-input
    label="{{ 'sideBar.select.label' | translate }}"
    [formControl]="autocompleteControl"
    defaulfValue="coordinates"
    [options]="autocompleteOptions"
  ></app-autocomplete-input>
  <mat-divider></mat-divider>
  <form [formGroup]="locationForm" class="form-wrapper">
    <app-input
      *ngIf="autocompleteControl.value === 'Coordinates'"
      type="number"
      formControlName="latitude"
      [min]="-90"
      [max]="90"
      label="{{ 'sideBar.inputs.latitude.label' | translate }}"
      placeholder="{{ 'sideBar.inputs.latitude.placeholder' | translate }}"
      errorMessage="{{ 'sideBar.inputs.latitude.error' | translate }}"
    ></app-input>

    <app-input
      *ngIf="autocompleteControl.value === 'Coordinates'"
      formControlName="longitude"
      type="number"
      [min]="-180"
      [max]="180"
      label="{{ 'sideBar.inputs.longitude.label' | translate }}"
      placeholder="{{ 'sideBar.inputs.longitude.placeholder' | translate }}"
      errorMessage="{{ 'sideBar.inputs.longitude.error' | translate }}"
    ></app-input>

    <app-input
      *ngIf="autocompleteControl.value === 'City'"
      formControlName="city"
      type="text"
      label="{{ 'sideBar.inputs.city.label' | translate }}"
      placeholder="{{ 'sideBar.inputs.city.placeholder' | translate }}"
      errorMessage="{{ 'sideBar.inputs.city.error' | translate }}"
    ></app-input>

    <app-input
      *ngIf="autocompleteControl.value === 'Zip'"
      formControlName="zip"
      type="number"
      label="{{ 'sideBar.inputs.zip.label' | translate }}"
      placeholder="{{ 'sideBar.inputs.zip.placeholder' | translate }}"
      errorMessage="{{ 'sideBar.inputs.zip.error' | translate }}"
    ></app-input>
  </form>
</div>
