<div class="location-wrapper">
  <span class="span-label">
    <span>{{ "main.location.location" | translate }}: </span>
    {{ location.name }}</span
  >
  <span class="span-label"
    ><span>{{ "main.location.timezone" | translate }}: </span>
    {{ location.timezone }}</span
  >
  <span class="span-label"
    ><span>{{ "main.location.latitude" | translate }}: </span>
    {{ location.latitude }}</span
  >
  <span class="span-label"
    ><span>{{ "main.location.longitude" | translate }}: </span>
    {{ location.longitude }}</span
  >
</div>
