<div class="header-wrapper">
  <div class="header-links-wrapper">
    <a
      mat-button
      [ngClass]="{
        'underline-current': currentUrl === currentWeatherRoute.fullpath
      }"
      [routerLink]="currentWeatherRoute.path"
      class="header-links"
      >{{ "header.current" | translate }}</a
    >
    <a
      mat-button
      [ngClass]="{
        'underline-current': currentUrl === historyWeatherRoute.fullpath
      }"
      [routerLink]="historyWeatherRoute.path"
      class="header-links"
      >{{ "header.history" | translate }}</a
    >
    <a
      mat-button
      [ngClass]="{
        'underline-current': currentUrl === forecastsWeatherRoute.fullpath
      }"
      [routerLink]="forecastsWeatherRoute.path"
      class="header-links"
      >{{ "header.forecasts" | translate }}</a
    >
  </div>
  <button
    mat-icon-button
    color="black"
    aria-label="Example icon button with a home icon"
    (click)="changeLanguage()"
  >
    <mat-icon class="translate-icon">language</mat-icon>
  </button>
</div>
