<mat-form-field class="autocomplete" appearance="fill">
  <mat-label class="input-label">{{ label }}</mat-label>
  <input
    type="text"
    [placeholder]="placeholder"
    matInput
    [matAutocomplete]="auto"
    [formControl]="control"
    [value]="defaulfValue"
    class="autocomplete-inputs"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of options; trackBy: trackByFn"
      [value]="option.value"
    >
      {{ option.label | translate }}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="control.invalid && control.touched">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>
