:host {
  ::ng-deep {
    .mat-form-field-underline {
      opacity: 0;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: rgba(0, 0, 0, 0);
    }
    .mat-form-field-label {
      color: white;
    }
  }
}

.autocomplete {
  width: 250px;
}

.autocomplete-inputs {
  color: rgba(255, 255, 255, 1);
}
