.card-wrapper {
  display: grid;
  grid-template-rows: 75px 1fr;
  justify-items: center;
  align-items: center;
  height: 250px;
  width: 350px;
  opacity: 45%;
  background-color: black;
  border-radius: 25px;
  color: white;
}

.card-value {
  font-size: 90px;
}

.card-label {
  font-size: 25px;
  padding: 0px 15px;
  text-align: center;
}
