.card-wrapper {
  height: 250px;
  width: 350px;
}

.air-card-wrapper {
  width: 100%;
  min-width: 500px;
  height: 400px;
}

.map-card-wrapper {
  width: 100%;
  min-width: 500px;
  height: 750px;
}
