:host {
  ::ng-deep {
    .mat-form-field-flex {
      background: black;
      opacity: 50%;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
      color: rgba(255, 255, 255, 0.7);
    }
    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.search-wrapper {
  height: 100%;
  margin: 0 15px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
